.footer {
  background-color: #FFBD59;
  color: lemonchiffon;
  height: 250px; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon.hearth {
  font-size: 16px;
  height: 16px;
  width: 16px;
}