.recipes-title-page {
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  margin: 50px auto;
  line-height: 58px;
  max-width: 700px;
  word-wrap: break-word;
}

.cards-container {
  margin: 0 125px 0 125px;
}