<div class="header-recipe-details">
  <a href="recipes" class="back-btn"><mat-icon class="custom-icon">arrow_back</mat-icon></a>
  <h1>{{ Recipe.Title }}</h1>
  <div class="favorite-btn"><mat-icon class="custom-icon">favorite_border</mat-icon></div>
</div>

<div class="recipe-details-img">
  <img src=".\assets\images\recettes-vegetariennes-hiver.jpg" alt="Purée de Potimarron, Champignons et Burrata">
</div>

<div class="ingredients-ustensils-container">
  <div class="ingredients-content">
    <h2 class="title-custom">Ingrédients</h2>
    <ul>
      <li *ngFor="let ingredient of Recipe.Ingredients">{{ ingredient }}</li> 
      <!-- <li>1 potimarron moyen</li>
      <li>200g de champignons (de Paris ou autres selon préférence)</li>
      <li>1 boule de burrata</li>
      <li>2 gousses d'ail</li>
      <li>2 cuillères à soupe d'huile d'olive</li>
      <li>Sel et poivre noir moulu, selon le goût</li>
      <li>Quelques feuilles de persil frais pour la garniture</li> -->
    </ul>
  </div>
  <div class="ustensils-content">
    <h2 class="title-custom">Ustensils</h2>
    <ul>
      <li *ngFor="let ustensil of Recipe.Ustensils">{{ ustensil }}</li>
      <!-- <li>1 grande casserole</li>
      <li>1 poêle</li>
      <li>1 blender ou un presse-purée</li>
      <li>Planche à découper</li>
      <li>Couteau de cuisine</li>
      <li>Cuillères à soupe et à café</li>
      <li>Spatule</li> -->
    </ul>
  </div>
</div>

<h2 class="title-custom text-center">La Recette Pas par Pas</h2>
<div class="recipe-steps">
  <ol class="step"  *ngFor="let step of Recipe.Steps">
    <p class="name-step">{{ step.name }}</p>
    <li *ngFor="let step of step.step">{{ step }}</li>
    <!-- <p class="name-step">1. Préparation des ingrédients :</p>
    <li>Lavez soigneusement le potimarron et coupez-le en deux. Retirez les graines et coupez la chair en gros cubes</li>
    <li>Nettoyez les champignons et coupez-les en tranches.</li>
    <li>Émincez finement l'ail.</li>
    <li>Détachez délicatement la burrata en morceaux.</li>
  </ul>
  <ul class="step">
    <p class="name-step">2. Cuisson du potimarron :</p>
    <li>Dans une grande casserole, faites bouillir de l'eau salée.</li>
    <li>Plongez les morceaux de potimarron dans l'eau bouillante et laissez-les cuire jusqu'à ce qu'ils soient tendres (environ 15-20 minutes).</li>
    <li>Une fois cuits, égouttez les morceaux de potimarron et réservez.</li>
  </ul>
  <ul class="step">
    <p class="name-step">3. Préparation des champignons :</p>
    <li>Pendant que le potimarron cuit, dans une poêle, faites chauffer une cuillère à soupe d'huile d'olive à feu moyen.</li>
    <li>Ajoutez les champignons tranchés dans la poêle et faites-les sauter pendant environ 5 à 7 minutes jusqu'à ce qu'ils soient dorés.</li>
    <li>Ajoutez l'ail émincé dans la poêle et faites cuire pendant encore 1 à 2 minutes</li>
    <li>Assaisonnez avec du sel, du poivre et du thym séché (si utilisé), puis retirez du feu et réservez.</li>
  </ul>
  <ul class="step">
    <p class="name-step">4. Préparation de la purée</p>
    <li>Dans un blender ou à l'aide d'un presse-purée, réduisez en purée les morceaux de potimarron cuits</li>
    <li>Ajoutez une cuillère à soupe d'huile d'olive à la purée et mixez à nouveau jusqu'à obtenir une consistance lisse et crémeuse.</li>
    <li>Assaisonnez la purée de potimarron avec du sel et du poivre selon votre goût.</li>
  </ul>
  <ul class="step">
    <p class="name-step">5. Dressage :</p>
    <li>Répartissez la purée de potimarron dans des bols de service.</li>
    <li>Disposez les champignons sautés sur le dessus de la purée.</li>
    <li>Garnissez avec les morceaux de burrata.</li>
    <li>Parsemez de persil frais haché pour la touche finale</li>
    <p class="name-step">6. Dégustation :</p>
    <p>Servez la purée de potimarron, champignons et burrata chauds, accompagnée de pain grillé ou d'une salade verte pour un repas complet et délicieux !</p> -->
  </ol>
</div>

<div class="footer-recipe">
  <h2 class="title-custom text-center">Et maintenant, Régalez-vous !</h2>
  <div class="rating-stars text-center title-custom">
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
  </div>
</div>

