<div class="card-container">
  <div class="card-recipe">
    <div class="card-header">
      <img src="assets\images\recettes-vegetariennes-hiver.jpg" alt="purée de potimarron, champignons, burrata"> 
      <div class="card-img-overlay">
        <h3>Purée de potimarron, champignons<br>burrata</h3>
      </div>
    </div>
    <div class="timer-price">
      <div class="timer">
        <mat-icon>schedule</mat-icon>
        <div>15 min</div>
      </div>
      <div class="price">
        <mat-icon>euro</mat-icon>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia placeat expedita autem eaque voluptatum. Iure quidem tempora unde omnis officiis repellat animi vero provident quia facilis, quod accusantium, doloribus ipsam.</p>
  </div>
</div>
