<mat-toolbar class="page-content" color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->

  <div class="toolbar-container-left">
    <span class="border-span">Recettes<br>Végétariennes</span>
    <span class="border-span">Recettes de<br>Saisons</span>
    <span>Recettes<br>Favorites</span>
  </div>
  <div class="toolbar-container-right">
    <app-search-bar></app-search-bar>
    <div class="account-profil">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
</mat-toolbar>