
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$custom-primary: (
  50: #FFF6E5, // Très clair
  100: #FFEDCC, // Plus clair
  200: #FFE4B3, // Clair
  300: #FFDB99, // Peu clair
  400: #FFD180, // Légèrement plus foncé que la principale
  500: #FFBD59, // Couleur principale
  600: #FFB751, // Légèrement plus foncé que la principale
  700: #FFAC48, // Plus foncé
  800: #FFA240, // Encore plus foncé
  900: #FF9300, // Très foncé
  A100: #FFFFFF, // Accent clair (pour contraste)
  A200: #FFECB3, // Accent
  A400: #FFBD59, // Accent similaire à la principale
  A700: #FFAC48, // Accent foncé
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #000000,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #FFFFFF,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$la-cuisine-de-maya-primary: mat.define-palette($custom-primary, 500);
$la-cuisine-de-maya-accent: mat.define-palette($custom-primary, A200);

// The warn palette is optional (defaults to red).
$la-cuisine-de-maya-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$la-cuisine-de-maya-theme: mat.define-light-theme((
  color: (
    primary: $la-cuisine-de-maya-primary,
    accent: $la-cuisine-de-maya-accent,
    warn: $la-cuisine-de-maya-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($la-cuisine-de-maya-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-toolbar.page-content {
  padding: 0 10%;
}
